html{
    background: rgb(40, 44, 52);
}
.logoLeft{
    left: 20px;
}
.nav-wrapper{
    background: rgb(40, 44, 52);
}
.centerLogo{
    padding-left: 800px;
}
.page-footer{
    background: #262e3f;
    width:100%;
    height:19%;
    position: absolute;
    bottom: 0;
}
.stayLeft h5{
    text-align: left;
}
.chat{
    color: #FFF;
}
.user{
    color: #FFF;
}
